<nav class=" d-flex align-items-center justify-content-center">
    <ul class="header-links d-flex m-auto gap-3">
        <li><a href="">Encurtar link</a></li>
        <li><a href="">Desencurtar link</a></li>
        <li><a href="">Contador de cliques</a></li>
        <li><a href="">Gerar Qr Code</a></li>
    </ul>
</nav>